.bomb-counter-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  font-weight: 700;
  font-size: 12pt;
  padding: 3px;
  border-top-left-radius: 5px;
  width: 60px;
  background-color: green;
}