.box {
  width: 30px;
  height: 30px;
  background-color: yellowgreen;
  border-radius: 3px;
  margin: 2px;
  font-size: 16pt;
  font-weight: 700;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.box:hover:not(.done,.open) {
  background-color: rgba(153, 205, 50, 0.817);
}

.box.open {
  cursor: default;
  background-color: rgb(195, 202, 180);
}

.box.open.num--1 {
  background-color: tomato;
}

.box.open.num-1 {
  color: blue;
}

.box.open.num-2 {
  color: green;
}

.box.open.num-3 {
  color: red;
}

.box.open.num-4 {
  color: purple;
}

.box.open.num-5 {
  color: maroon;
}

.box.open.num-6 {
  color: turquoise;
}

.box.open.num-7 {
  color: black;
}

.box.open.num-8 {
  color: gray;
}