.box {
  width: 30px;
  height: 30px;
  background-color: yellowgreen;
  border-radius: 1px;
  margin: 1px;
  font-size: 16pt;
  font-weight: 700;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.box:hover:not(.done,.open) {
  background-color: rgba(153, 205, 50, 0.817);
}

.box.open {
  cursor: default;
  background-color: rgb(195, 202, 180);
  animation: shake 0.3s;
  animation-iteration-count: 1;
}

.box.open.num--1 {
  background-color: tomato;
}

.box.open.num-1 {
  color: blue;
}

.box.open.num-2 {
  color: green;
}

.box.open.num-3 {
  color: red;
}

.box.open.num-4 {
  color: purple;
}

.box.open.num-5 {
  color: maroon;
}

.box.open.num-6 {
  color: turquoise;
}

.box.open.num-7 {
  color: black;
}

.box.open.num-8 {
  color: gray;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); background-color: yellowgreen;}
  10% { transform: translate(-1px, -2px) rotate(-1deg); background-color: rgb(195, 202, 180);}
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg);}
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}