.App {
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.bg-green {
  background-color: green;
}

.game-header {
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.center-flex {
  display: flex;
  flex-direction: row;
}